/* Subsection Title */
.SubsectionTitleShell {
    padding: 0.5rem;
    position: relative;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    padding: 3px;
    text-align: left;
}

.SubsectionTitle {
    background: #222;
    color: white;
    padding: 0.75rem;
    font-family: 'Reggae One', cursive;
    font-size: 30px;
}

/* Buttons */
.buttons {
    text-align: center;
}

.button {
    display: block;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    opacity: 1;
    margin: 4px 2px;
    border-radius: 3px;
    transition-duration: 0.25s;
    cursor: pointer;
}

.buttonblue {
    background-color: white;
    color: #426cf5;
    border: 1.5px solid #426cf5;
    font-size: 20px;
    width: 100%;
    height: fit-content;
}

.buttonblue:hover {
    background-color: #426cf5;
    color: white;
    transition: 0.3s;
}

.buttonpink {
    background-color: white;
    color: plum;
    border: 1.5px solid plum;
    font-size: 20px;
    width: 100%;
    height: fit-content;
}

.buttonpink:hover {
    background-color: plum;
    color: white;
    transition: 0.3s;
}

.button7 {
    background-color: white;
    color: #53345e;
    border: 1.5px solid #53345e;
    width: 100%;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: default;
    height: fit-content;
    text-align: left;
}

.button7 li {
    font-size: 16px;
}

.button7:hover {
    box-shadow: 5px 5px 5px #53345e;
}

/* Main Page Organisation */

.Content {
    position: static;
    width: 75%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: ghostwhite;
    opacity: 0.7;
    font-family: 'Reggae One', cursive;
}

.Content1 {
    margin: 5% 5% 5% 5%;
    font-size: 20px;
}

li {
    font-size: 18px;
}

hr {
    border: 1px solid #566357;
}


#popbox {
    text-align: left;
}

#popboxtitle {
    text-decoration: underline #566357;
}


#underline {
    text-decoration: underline #426cf5;
}

.mark_red {
    color: #851e3e;
}

.red {
    color: #ee0435;
}

.green {
    color: #00a0b0;
}

.mark_blue {
    color: #426cf5;
}

/* Side Navbar */

.sidenavwrapper {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 5px;
    overflow-x: hidden;
    padding: 8px 0;
    font-family: 'Reggae One', cursive;
}

.sidenavwrapper a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenavwrapper a:hover {
    color: #426cf5;
    text-decoration: underline #426cf5;
}

.r {
    color:darkred;
}

#LARGE {
    font-size: 25px;
}

.ref {
    font-size: 15px;
}

.ref a {
    text-decoration: none;
    color: black;
}

.ref a:hover {
    color: #851e3e;
    text-decoration: underline #851e3e;
    transition: 0.3s;
}

.small {
    font-size: 15px;
}

#color {
    color: #426cf5;
}